header,
nav,
main,
aside,
footer {
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer";
    grid-gap: .3rem;
    max-width: 80vw;
    margin: 0 10vw;
}

header {
    height: 30vh;
    grid-area: header;
    background-color: aqua;
}

nav {
    height: 10vh;
    grid-area: nav;
    background-color: hotpink;
}

main {
    height: 50vh;
    grid-area: main;
    background-color: greenyellow;
}

aside {
    height: 50vh;
    grid-area: aside;
    background-color: aquamarine;
}

footer {
    height: 20vh;
    grid-area: footer;
    background-color: yellow;
}

@media screen and (max-width: 1000px) {
    body {
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "main main main"
            "aside aside aside"
            "footer footer footer";
    }

}